body,
html {
    font-family: sans-serif;
    background: #0a0b24;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
}

.hide {
    display: none !important;
}

.layout--wrapped {
    max-width: 1170px;
    padding: 12px;
}

.layout--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: #24e063;
}

::selection {
    color: white;
    background: #24e063;
}

.page {
    height: 100vh;
}

.header {
    background: #0a0b24;
    height: 60px;
    top: 0;
    width: 100%;
    position: sticky;

    .header__content {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        justify-content: center;

        .brand {
            height: 100%;
            width: auto;
            align-self: flex-start;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .brand__name {
                color: white;
                font-family: "Fredoka One", cursive;
                font-size: 18px;

                span {
                    color: #24e063;
                }
            }

            a {
                text-decoration: none;
            }
        }

        .profile {
            height: 100%;
            margin-left: auto;

            .profile__picture {
                width: 36px;
                height: 36px;
            }

            .profile__name {
                color: white;
                padding-left: 10px;
                font-size: 18px;
                text-transform: uppercase;
            }
        }

        .join {
            margin-left: auto;
            color: white;
            font-size: 20px;
            cursor: pointer;
            text-transform: uppercase;
            transition: all 0.2s cubic-bezier(0.12, 0.64, 0.58, 1);
            user-select: none;

            &:hover {
                color: #fd2954;
            }
        }
    }
}

.main {
    .main__content {
        width: 100%;
        padding-top: 12px;
    }
}


.post-list {
    padding-right: 0;
    margin: 0;

    .post {
        text-decoration: none;
        width: calc(33.33% - 14px);
        height: 160px;
        margin-right: 16px;
        font-size: 14px;
        display: inline-block;
        background: #212439;
        margin-bottom: 16px;
        color: white;
        padding: 12px;
        cursor: pointer;
        border: 1px solid transparent;
        transition: transform 0.2s cubic-bezier(0.12, 0.64, 0.58, 1);

        .post__inner {
            display: flex;
            height: calc(100% - 30px);

            .score {
                width: 40px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                .score__up,
                .score__down {
                    width: 32px;
                    height: 32px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    border-radius: 100%;
                    cursor: pointer;
                    background: #5c5f6f;
                    user-select: none;
                    transition: all 0.1s ease-in;
                }

                .score__up {
                    &:hover {
                        background: #1ba749 !important;
                    }
                }

                .score__up.checked {
                    background: #1ba749 !important;
                }

                .score__down {
                    &:hover {
                        background: #fd2954 !important;
                    }
                }

                .score__down.checked {
                    background: #fd2954 !important;
                }

                .score__board {
                    padding: 4px 0;
                }

            }

            .post__body {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 12px;
                word-break: break-word;
                font-size: 16px;
            }
        }

        .post__footer {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;

            .post__time {
                width: auto;
                color: gray;
            }

            .post__comments {
                margin-left: auto;
                display: flex;
                color: gray;
                align-items: center;
                transition: all 0.1s ease-in;

                .icon {
                    width: 16px;
                    margin-right: 4px;
                    height: 16px;
                    fill: gray;
                    transition: all 0.1s ease-in;
                }
            }

        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:hover {
            .score__up {
                background: gray !important;
            }

            .score__down {
                background: gray !important;
            }

            .post__comments {
                color: #24e063;

                .icon {
                    fill: #24e063;
                }
            }

            transform: scale(1.1);
            border: 1px solid gray;

        }

    }

}


.rant__add,
.rant__comment {
    position: fixed;
    bottom: 24px;
    z-index: 2;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background: #fd2954;
    font-size: 36px;
    line-height: 36px;
    font-family: "Fredoka One", cursive;
    padding: 4px;
    border-radius: 100%;
    color: white;
    left: 50%;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s ease-in;
    margin-left: -25px;

    &:hover {
        background: #d31c41;
    }
}

.rant__comment {
    .icon {
        fill: white;
        width: 24px;
        height: 24px;
    }
}


.rant-details {

    flex-direction: column;

    .post-hero {
        width: 100%;
        font-size: 14px;
        display: block;
        background: #212439;
        margin-bottom: 16px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .post-hero__inner {
            padding: 30px 50px;
            display: flex;
            width: 100%;
            height: calc(100% - 30px);

            .score {
                width: 80px;
                display: flex;
                align-items: center;
                flex-direction: column;

                .score__up,
                .score__down {
                    width: 48px;
                    height: 48px;
                    font-weight: bold;
                    font-size: 22px;
                    letter-spacing: 2px;
                    border-radius: 100%;
                    cursor: pointer;
                    background: #5c5f6f;
                    user-select: none;
                    transition: all 0.1s ease-in;
                }

                .score__up {
                    &:hover {
                        background: #1ba749 !important;
                    }
                }

                .score__up.checked {
                    background: #1ba749 !important;
                }

                .score__down {
                    &:hover {
                        background: #fd2954 !important;
                    }
                }

                .score__down.checked {
                    background: #fd2954 !important;
                }

                .score__board {
                    padding: 12px 0;
                    font-size: 22px;
                }

            }

            .post-hero__body {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                padding-left: 30px;
                word-break: break-word;
                font-size: 22px;
                flex-direction: column;

                .profile {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .profile__picture {}

                    .profile__name {
                        font-size: 20px;
                        padding-left: 8px;
                    }
                }

                .post__details {
                    padding-top: 18px;
                }

            }
        }

        .post-hero__footer {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            padding: 30px 60px;

            .post-hero__delete {
                border: 1px solid #db153d;
                padding: 4px 8px;
                background: transparent;
                color: #fd2954;
                transition: all 0.2s ease-in;
                cursor: pointer;
                user-select: none;
                &:hover {
                    color: white;
                    background: #b11837;
                }
            }

            .post-hero__time {
                width: auto;
                margin-left: auto;
                font-size: 18px;
                color: lightgray;
            }

        }

    }

    .no-comments{
      color: #5b5e6f;
      font-size: 19px;
    }   

    .comments {
        display: block;
        max-width: 600px;
        width: 100%;
        height: 200px;

        .comments__title {
            color: #5b5e6f;
            font-size: 32px;
            margin-top: 8px;
            margin-bottom: 12px;

            span {
                color: #24e063;
            }
        }

        .comment {
            width: 100%;
            font-size: 14px;
            display: block;
            background: #212439;
            margin-bottom: 16px;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .comment__inner {
                padding: 20px 20px;
                display: flex;
                width: 100%;
                height: calc(100% - 30px);

                .comment__body {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    word-break: break-word;
                    font-size: 20px;
                    flex-direction: column;

                    .profile {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .profile__picture {}

                        .profile__name {
                            font-size: 20px;
                            padding-left: 8px;
                        }
                    }

                }
            }

            .comment__footer {
                width: 100%;
                height: 30px;
                display: flex;
                align-items: center;
                padding: 0 20px 20px 20px;

                .comment__delete {
                    border: 1px solid #db153d;
                    padding: 4px 8px;
                    background: transparent;
                    color: #fd2954;
                    transition: all 0.2s ease-in;
                    cursor: pointer;
                    user-select: none;

                    &:hover {
                        color: white;
                        background: #b11837;
                    }
                }

                .comment__time {
                    width: auto;
                    margin-left: auto;
                    font-size: 18px;
                    color: gray;
                }

            }

        }

    }

}

.blur {
    filter: blur(3px);
}

.popup {
    width: 100%;
    height: 100vh;
    background: #0a0b24f3;
    display: block;
    position: fixed;
    top: 100vh;
    left: 0;
    z-index: 3;
    transition: top 0.3s cubic-bezier(0.12, 0.64, 0.58, 1),
        opacity 0.3s cubic-bezier(0.12, 0.64, 0.58, 1);

    .popup__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 70px;

        .close {
            background: gray;
            width: 44px;
            height: 44px;
            border-radius: 100%;
            margin-left: auto;
            margin-right: 24px;
            font-family: "Fredoka One", cursive;
            font-size: 28px;
            line-height: 28px;
            cursor: pointer;
            color: white;
            user-select: none;
            transition: all 0.3s cubic-bezier(0.12, 0.64, 0.58, 1);

            &:hover {
                background: #d31c41;
            }
        }
    }

    .popup__body {
        display: flex;
        height: calc(100vh - 70px);
        width: 100%;

        .popup__body-inner {
            max-width: 600px;
            width: 100%;
            padding: 24px;

            .form {
                .form__title {
                    color: white;
                    font-size: 32px;
                    width: 100%;
                    text-align: center;

                    .highlight {
                        color: #24e063;
                    }
                }

                .form__description {
                    color: lightgray;
                    font-size: 24px;
                    width: 100%;
                    text-align: center;
                }

                .form__error {
                    color: #d31c41;
                    padding: 0 0 12px 0;
                    text-align: center;
                    width: 100%;
                    font-size: 18px;
                }
            }

            input[type=submit] {
                background: transparent;
                outline: none;
                border: 1px solid #fd2954;
                appearance: none;
                cursor: pointer;
                user-select: none;
                padding: 8px;
                font-size: 20px;
                height: 50px;
                text-align: center;
                color: #fd2954;
                transition: all 0.2s cubic-bezier(0.12, 0.64, 0.58, 1);
                margin-bottom: 16px;

                &:hover,
                &:focus {
                    background: #fd2954;
                    color: white;
                }

                &:disabled {
                    cursor: not-allowed;
                    background: gray;
                    border: 1px solid gray;
                    color: lightgray;
                    pointer-events: none;
                }

            }

        }

    }
}

.popup.popup--open {
    top: 0;
}

.login {
    max-width: 300px;
    display: flex;
    margin: 24px auto;
    flex-direction: column;

    input[type=text],
    input[type=password] {
        background: transparent;
        border: 1px solid gray;
        outline: none;
        padding: 8px;
        font-size: 20px;
        height: 50px;
        text-align: center;
        color: lightgray;
        transition: all 0.2s ease-in;
        margin-bottom: 16px;

        &:focus {
            border-color: #1ba749;
        }
    }

    input[type=text] {
        text-transform: uppercase;
    }

}

.new-rant,
.alert,
.new-comment {
    max-width: 300px;
    display: flex;
    margin: 24px auto;
    flex-direction: column;

    textarea {
        background: transparent;
        border: 1px solid gray;
        outline: none;
        padding: 8px;
        font-size: 18px;
        resize: none;
        width: 100%;
        height: 200px;
        text-align: left;
        color: lightgray;
        transition: all 0.2s ease-in;
        margin-bottom: 16px;

        &:focus {
            border-color: #1ba749;
        }
    }

}

//Spinner
.loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    // height: calc(100vh - 84px);

    .spinner {
        width: 64px;
        height: 64px;
    }

    .spinner:after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #fff;
        border-color: #1ba749 transparent #1ba749 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}


@media only screen and (max-width: 940px) {
    .post-list {
        .post {
            width: calc(50% - 8px);

            &:nth-child(2n) {
                margin-right: 0;
                float: right;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }

            &:hover {
                transform: scale(1.05);
            }

        }
    }
}

@media only screen and (max-width: 600px) {
    .post-list {
        .post {
            width: calc(100%);

            &:hover {
                transform: scale(1.02);
            }
        }
    }
}